html, body {
  height: 100%;
  font-family:'Lato';
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: seashell;
  background-size: auto;
}

.gameIntro {
  padding-top: 5rem;
  color: Black;
  display: flex;
  flex-direction: column;
}

.introHeader {
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  text-align: center;
  margin: 15px 50px 25px 100px;
  color: darkslategrey;
  letter-spacing: 0.1em;
  text-shadow: 5px 5px 10px darkolivegreen;
}

.gameInstructions h1 {
  text-shadow: 5px 5px 10px darkolivegreen;
}

.gameInstructions {
  text-align: center;
  border-top-width: medium;
  margin: 15px 50px 75px 100px;
  font-size: medium;
  color: darkslategrey;
}

ul {
  list-style-type: none;
  align-content: center;
}

.gameRules {
  text-align: center;
  font-size: large;
  color: darkslategrey;
  text-indent: inherit;
}

.csGoLogo {
  align-self: center;
  width: 20%;
  margin-bottom: 1.5rem;
}

.selectBoard {
  text-align: center;
  margin-bottom: 1rem;
  font-size: medium;
  color: darkslategrey;
  text-shadow: 5px 5px 10px darkolivegreen;
}

.gameButton {
  background: darkolivegreen;
  background-color: darkslategrey;
  border-radius: 18px;
  border: 1px solid darkolivegreen;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family:'Lato';
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  margin-top: 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px floralwhite;
}

.gameButton:hover {
  background: linear-gradient(to bottom, tan 5%, tan 100%);
  background-color: saddlebrown;
}
.gameButton:active {
  position: relative;
  top: 1px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
  cursor: pointer;
}

#message {
  font-size: 1.5rem;
  padding-top: 2rem;
  color: darkolivegreen;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 2px 2px 8px darkslategrey;
}

#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: saddlebrown;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 2px 2px 8px darkolivegreen
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.resetGameBtn {
  background: tan;
  background-color: tan;
  border-radius: 6px;
  border: 2px solid peru;
  cursor: pointer;
  color: darkolivegreen;
  font-family:'Lato';
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: darkslategrey;
  margin-bottom: 1.5rem;
  animation: fadein 0.3s ease;
}

.resetGameBtn:hover {
  background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color: #f2ab1e;
}

.resetGameBtn:active {
  position: relative;
  top: 1px;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") saddlebrown;
}

div.hidden {
  background: #eee;
  position: relative;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") darkolivegreen;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropin {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.2);
  }
  100% {
    transform: scale(1);
  }
}

